<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    
    <div class="modal-body">
      <div class="task-modal">
        <form [formGroup]="taskForm" (ngSubmit)="taskId ? update() : save()">
          <h2 class="mb-4">+ New Task</h2>
          <input
            type="email"
            class="form-control"
            id="TaskName"
            placeholder="Task Name"
            name="name" formControlName="name"
          />
          <span *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched" class="text-danger">Please enter valid name</span>
          <button type="submit" class="w-100 mt-3 btn btn-primary new-task-btn">
             {{taskId ? 'Update' : '+ New'}} Task
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
